<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Lehman Brothers</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/responsive.css" rel="stylesheet" />
</head>
<body class="sub_page">
  <div class="hero_area">
    <header class="header_section">
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="../index.html">
              <img src="../images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="../index.html">Início <span class="sr-only">(atual)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service.html">Aplicações</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="project.html">Empréstimos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonial.html">Depoimentos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Abra sua Conta</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Empréstimos
          </h2>
          <p>
            Obtenha o suporte financeiro que você precisa com nossas opções de empréstimos bancários flexíveis e acessíveis.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="../images/s5.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Empréstimo pessoal
                </h5>
                <p>
                  O Empréstimo Pessoal é a solução rápida e flexível para realizar seus projetos pessoais, com taxas competitivas e parcelas adequadas ao seu orçamento.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="../images/s6.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Empréstimo consignado
                </h5>
                <p>
                  O Empréstimo Consignado é a opção segura e vantajosa para realizar seus planos, com parcelas descontadas diretamente em folha e taxas atrativas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="../images/s7.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Financiamentos
                </h5>
                <p>
                  Descubra as melhores opções de Financiamentos para realizar seus sonhos, com condições personalizadas e suporte especializado durante todo o processo.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="../images/s8.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Linhas de crédito empresarial
                </h5>
                <p>
                  Potencialize o crescimento do seu negócio com Linhas de Crédito Empresarial, oferecendo recursos sob medida e flexibilidade para impulsionar sua empresa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="info_section ">
    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <img src="../images/phone-call_3616230.png" alt="">
          <span>
            Número : +55 1140028922
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <img src="../images/mail-32.png" alt="">
          <span>
            Email : medadezpofavor@gmail.com
          </span>
        </a>
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <img src="../images/local-seo-32.png" alt="">
          <span>
            Endereço
          </span>
        </a>
      </div>
      <div class="info_top ">
        <div class="row info_main_row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="info_links">
              <h4>
                ATALHOS
              </h4>
              <div class="info_links_menu">
                <a class="" href="../index.html">Início <span class="sr-only">(atual)</span></a>
                <a class="" href="service.html">Aplicações</a>
                <a class="" href="project.html">Empréstimos</a>
                <a class="" href="testimonial.html">Depoimetos</a>
                <a class="" href="about.html"> Sobre</a>
                <a class="" href="contact.html">Abra sua Conta</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="info_post">
              <h5>
                FEEDS DO INSTAGRAM
              </h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
                <div class="img-box">
                  <img src="../images/instagram.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_form">
              <h4>
                SE INSCREVA EM NOSSO JORNAL
              </h4>
              <form action="">
                <input type="text" placeholder="Enter Your Email" />
                <button type="submit">
                  Inscreva-se
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-md-2">
            <div class="info_logo">
              <a href="">
                <img src="../images/logo2.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="../js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
</body>
</html>